= form_for @component do |f|
  - if @component.errors.any?
    #error_explanation
      %h2= "#{pluralize(@component.errors.count, "error")} prohibited this blueprint from being saved:"
      %ul
        - @component.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :component_type
    = f.text_field :component_type, class: 'form-control'
  .form-group
    = f.label :body
    = f.text_area :body, rows: 25, class: 'form-control monospace md'

  - if f.object.new_record?
    = sub_form f, :deployment_rule, DeploymentRule
  - else
    .form-group
    = f.fields_for :deployment_rule do |builder|
      = render 'deployment_rule_fields', f: builder

  .form-group
    = f.submit 'Save', class: 'btn btn-success'
