%h1= @component.name

%h2
  = @component.component_type
  - if blueprint = @component.blueprint
    %small (#{link_to(blueprint.name, blueprint)})

= markdown(@component.body)

%b Deployment rule
= nested_list_from_hash(@component.deployment_rule.try(:more_attributes), css_class: 'deployment_rule')

.actions
  = link_to 'Edit', edit_component_path(@component), class: 'btn btn-warning'
  = link_to 'Destroy', @component, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  = link_to 'Back', components_path, class: 'btn btn-link'
