%h1= @component.name

%h2= @component.component_type

= markdown(@component.body)

%b Deployment rule
%code= @component.deployment_rule.try(:more_attributes).to_json

.actions
  = link_to 'Edit', edit_component_path(@component), class: 'btn btn-primary'
  = link_to 'Destroy', @component, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  = link_to 'Back', components_path
