%h1= @component.name

%h2= @component.component_type

= markdown(@component.body)

- unless @component.deployments.empty?
  %h2 Typical Deployment Strategies
  - @component.deployments.each do |deployment|
    .deployment
      %h3= deployment.name
      = markdown(deployment.body)

.actions
  = link_to 'Edit', edit_component_path(@component), class: 'btn btn-primary'
  = link_to 'Destroy', @component, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  = link_to 'Back', component_path
