= form_for @blueprint do |f|
  - if @blueprint.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blueprint.errors.count, "error")} prohibited this blueprint from being saved:"
      %ul
        - @blueprint.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :body
    = f.text_area :body, rows: 25, class: 'form-control monospace md'
  = f.fields_for :components do |builder|
    = render 'component_fields', f: builder
  .form-group
    = link_to_add_fields t('.add_component'), f, :components, Component
  .form-group
    = f.submit t('save'), class: 'btn btn-success'
    = link_to t('cancel'), @blueprint, class: 'btn btn-link'