%h1= t '.title'

= render @blueprints, show_name: true

= paginate @blueprints
.page-entries-info= page_entries_info @blueprints

= link_to t('.new_blueprint'), new_blueprint_path, class: 'btn btn-primary'
