%h1= @blueprint.name

%p#notice= notice

= markdown(@blueprint.body)

- unless @blueprint.components.empty?
  %h2 Typical Components and Deployments
  - @blueprint.components.each do |component|
    .component
      %h3= component.name
      %b= component.component_type
      = markdown(component.body)
      - component.deployments.each do |deployment|
        .deployment
          = deployment.name
          = markdown(deployment.body)

= link_to 'Edit', edit_blueprint_path(@blueprint)
\|
= link_to 'Back', blueprints_path
