%h1= @blueprint.name

= markdown(@blueprint.body)

- unless @blueprint.components.empty?
  %h4 Components:
  - @blueprint.components.each do |component|
    %hr
    .component
      %h3= component.name
      %b= component.component_type
      = markdown(component.body)
      %b Deployment rule
      %code= component.deployment_rule.try(:more_attributes).to_s
    %hr

.actions
  = link_to 'Edit', edit_blueprint_path(@blueprint), class: 'btn btn-primary'
  = link_to 'Destroy', @blueprint, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  = link_to 'Back', blueprints_path, class: 'btn btn-link'
