%h1= @blueprint.name

= markdown(@blueprint.body)

- unless @blueprint.components.empty?
  %h2 Components
  %ul
    - @blueprint.components.each do |component|
      %li= link_to component.name, "#component_#{component.id}"
  - @blueprint.components.each do |component|
    %hr
    %section[component]
      %h1= component.name
      %b= component.component_type
      = markdown(component.body)
      %h3 Deployment rule
      / 
        %p
          %code= component.deployment_rule.try(:more_attributes).to_json
      = nested_list_from_hash(component.deployment_rule.try(:more_attributes), css_class: 'deployment_rule')

.actions
  = link_to 'Edit', edit_blueprint_path(@blueprint), class: 'btn btn-warning'
  = link_to 'Copy', copy_blueprints_path(@blueprint), class: 'btn btn-success'
  = link_to 'Destroy', @blueprint, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  = link_to 'Back', blueprints_path, class: 'btn btn-link'
