%h1= @blueprint.name

%p#notice= notice

= markdown(@blueprint.body)

- unless @blueprint.deployments.empty?
  %h2 Typical Deployment Strategies
  - @blueprint.deployments.each do |deployment|
    .deployment
      %h3= deployment.name
      = markdown(deployment.body)

= link_to 'Edit', edit_blueprint_path(@blueprint)
\|
= link_to 'Back', blueprints_path
