%h1 Listing user_workloads

%table
  %thead
    %tr
      %th Num simultaneous users
      %th
      %th
      %th

  %tbody
    - @user_workloads.each do |user_workload|
      %tr
        %td= user_workload.num_simultaneous_users
        %td= link_to 'Show', user_workload
        %td= link_to 'Edit', edit_user_workload_path(user_workload)
        %td= link_to 'Destroy', user_workload, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User workload', new_user_workload_path
