.application
  %h3.name= cloud_application.name
  .components= render cloud_application.components
  .slos
    Service Level Objectives:
    .slo
      Response time #{content_tag :code, "<#{rand(30)/10.0}s"} for #{content_tag :code, "#{100-rand(15)}%"} of all requests at #{content_tag :code, "#{rand(600) * 100}"} users/#{[ 'day', 'hour', 'minute' ].sample}.
    .slo
      Availability #{content_tag :code, ">=#{100-rand(1000)/100.0}%"}.
  .recommendations
    Deployment Recommendations
    - (1 + rand(4)).times do |nrec|
      .recommendation
        - provider = Provider.offset(rand(Provider.count)).first
        - num_instances = rand(5) + 1
        - resource = provider.resources.offset(rand(provider.resources.count)).first
        #{content_tag :code, "$#{num_instances * resource.price_per_month}/month"} with #{content_tag :code, num_instances} #{content_tag :code, resource.name } #{'instance'.pluralize(num_instances)} from #{provider.name}.
        = link_to "Show details"
  %p
  .actions
    = link_to 'Show details', nil, class: 'btn btn-link'
    = link_to 'Find optimal deployments', nil, class: 'btn btn-success'
    = link_to 'Monitor deployment', nil, class: 'btn btn-primary'
    = link_to 'Delete', nil, class: 'btn btn-danger'