%fieldset
  %hr
  %h3 Add component

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :component
    %br
    = f.select :component_id do
      = Component.all.each do |component|
        = content_tag(:option, "#{component.name} (#{component.try(:blueprint).try(:name)})", value: component.id, selected: f.object.component_id == component.id)

  .form-group
    = f.label :body
    = f.text_area :body, rows: 10, class: 'form-control monospace md'

  = f.fields_for :slo_sets do |builder|
    = render 'slo_set_fields', f: builder
  .form-group
    = link_to_add_fields "Add SLO Set", f, :slo_sets, SloSet
  .form-group
    = f.check_box :_destroy
    = f.label :_destroy, t('.remove_component')
