%h1.clearfix
  = t('.title')
  = link_to t('.new'), new_blueprint_path, class: 'btn btn-success pull-right'

= render @cloud_applications, show_name: true

= paginate @cloud_applications
.page-entries-info= page_entries_info @cloud_applications

= link_to t('.new'), new_cloud_application_path, class: 'btn btn-success'
