%h1= @cloud_application.name

%p#notice= notice

%p
  %b Blueprint
  =@cloud_application.blueprint.name

%p
  %b Body
  = markdown(@cloud_application.body)

%p
  %b Components
  %ul
    -@cloud_application.concrete_components.each do |component|
      %li= component.name

%br
%p
.actions
  = link_to 'Show details', @cloud_application, class: 'btn btn-link'
  = link_to 'Edit', edit_cloud_application_path(@cloud_application), class: 'btn btn-primary'
  = link_to 'Find optimal deployments', nil, class: 'btn btn-success'
  = link_to 'Monitor deployment', nil, class: 'btn btn-primary'
  = link_to 'Destroy', @cloud_application, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'