%h1= @cloud_application.name

%p
  %b Blueprint:
  - if !@cloud_application.blueprint.nil?
    = link_to(@cloud_application.blueprint.name, @cloud_application.blueprint)

= markdown(@cloud_application.body)

%h3 Components
- @cloud_application.concrete_components.each do |component|
  .component
    %h3
      = component.name
      - if component.component
        %small
          (#{link_to(component.component.name, component.component)})
    = markdown(component.body)
    %h4= t('.slos')
    - component.slo_sets.each do |slo_set|
      %p
        %code= slo_set.more_attributes.to_json

%p
.actions
  -#= link_to 'Show details', @cloud_application, class: 'btn btn-link'
  = link_to 'Edit', edit_cloud_application_path(@cloud_application), class: 'btn btn-warning'
  -#= link_to 'Find optimal deployments', nil, class: 'btn btn-success'
  -#= link_to 'Monitor deployment', nil, class: 'btn btn-primary'
  = link_to 'Destroy', @cloud_application, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  = link_to 'Back', cloud_applications_path, class: 'btn btn-link'