%footer.cs-footer
  .container
    %ul
      %li= link_to(t('.about'), nil)
      %li= link_to(t('.faq'), nil)
      %li= link_to(t('.help'), nil)
      %li= link_to(t('.pricing'), nil)
    2016, The Cloud Stove.
    - if defined?(Footnotes) && Footnotes.enabled
      = link_to(t('.toggle_debug_info'), '#footnotes_holder',
          data: { toggle: :collapse } )
    - if Rails.env.development?
      \|
      = link_to(t('.toggle_grid'), "javascript:$('body')[0].classList.toggle('with-baseline-grid');")
    
- if defined?(Footnotes) && Footnotes.enabled
  #footnotes_holder.collapse