%fieldset
  %hr
  %h3 Dependency Constraint

  .form-group
    = f.label :target
    = f.select :target_id do
      - @ingredients.each do |ingredient|
        = content_tag(:option, ingredient.name, value: ingredient.id )

  .form-group
    = f.check_box :_destroy
    = f.label :_destroy, t('.remove_dependency_constraint')

  %hr