= form_for @ingredient do |f|
  - if @ingredient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ingredient.errors.count, "error")} prohibited this ingredient from being saved:"
      %ul
        - @ingredient.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :parent
    %br
    = f.select :parent_id, (@ingredients - [@ingredient]).map { |i| [i.name, i.id] }, { include_blank: true }

  .form-group
    = f.label :body
    = f.text_area :body, rows: 25, class: 'form-control monospace md'

  .form-group
    = f.fields_for :constraints_as_source do |builder|
      = render 'constraints_as_source_fields', f:builder

  .form-group
    = f.fields_for :cpu_constraint do |builder|
      = render 'cpu_constraint_fields', f:builder

  .form-group
    = f.fields_for :ram_constraint do |builder|
      = render 'ram_constraint_fields', f:builder

  .form-group
    = f.fields_for :preferred_region_area_constraint do |builder|
      = render 'preferred_region_area_constraint_fields', f:builder

  .form-group
    = f.fields_for :provider_constraint do |builder|
      = render 'provider_constraint_fields', f:builder

  .form-group
    = link_to_add_fields t('.add_dependency_constraint'), f, :constraints_as_source, DependencyConstraint

  .form-group
    = link_to_add_fields t('.add_cpu_constraint'), f, :cpu_constraint, CpuConstraint

  .form-group
    = link_to_add_fields t('.add_ram_constraint'), f, :ram_constraint, RamConstraint

  .form-group
    = link_to_add_fields t('.add_region_constraint'), f, :preferred_region_area_constraint, PreferredRegionAreaConstraint

  - if @ingredient.is_root
    .form-group
      = link_to_add_fields t('.add_provider_constraint'), f, :provider_constraint, ProviderConstraint

  .form-group
    = f.submit t('save'), class: 'btn btn-success'
    = link_to t('cancel'), @ingredient, class: 'btn btn-link'