%h1{:style => 'text-align: center'}= @ingredient.name
%br
%br
.actions
  = link_to 'Copy', ingredient_copy_ingredient_path(@ingredient), class: 'btn btn-success'
  = link_to 'Create Template', ingredient_template_path(@ingredient), class: 'btn btn-success'
  = link_to 'Instantiate', ingredient_instance_path(@ingredient), class: 'btn btn-success'

- if !@deployment_recommendation.nil?
  .row
    .col-lg-6
      .description
        %h5{:style => 'text-align: center'}= 'Description'
        %hr
        = markdown(@ingredient.body)
    - unless @dependency_constraints.length == 0
      .col-lg-6
        .description
          %h5{:style => 'text-align: center'}= 'Deployment Recommendation'
          %hr
          %ul
            %li= "Total cost: #{@deployment_recommendation[:total_cost]} $"
            %li= "VM cost: #{@deployment_recommendation[:vm_cost]} $"
          %table.table
            %thead
              %tr
                %th Ingredient
                %th Resource
                %th Price
                %th Provider
            %tbody
              - @deployment_recommendation[:recommendation].each do |entry|
                %tr
                  %td= link_to entry[:ingredient].name, ingredient_path(entry[:ingredient])
                  %td= "#{entry[:resource].name}"
                  %td= "#{entry[:resource].price_per_month}"
                  %td= "#{entry[:resource].provider.name}"
- else
  .row
    .description
      %h5{:style => 'text-align: center'}= 'Description'
      %hr
      = markdown(@ingredient.body)

%br
  - unless @dependency_constraints.length == 0 && @cpu_constraint.nil? && @ram_constraint.nil?
    .description
      %h5{:style => 'text-align: center'}= 'Constraints'
      %hr
      - unless @dependency_constraints.length == 0
        %br
        %h4= 'Dependency Constraints'
        %table.table
          %thead
            %tr
              %th Source Ingredient
              %th Target Ingredient
              %th
          %tbody
            - @dependency_constraints.each do |constraint|
              %tr
                %td= link_to constraint.source.name, ingredient_path(constraint.source)
                %td= link_to constraint.target.name, ingredient_path(constraint.target)
                %td= link_to 'X', constraint_path(constraint), :method => :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn btn-danger'
      .row
        .col-sm-6
          - unless @cpu_constraint.nil?
            %br
            %h4= 'CPU Constraint'
            ="Minimal number of cores: #{@cpu_constraint.min_cpus}"
            = link_to 'X', constraint_path(@cpu_constraint), :method => :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn btn-danger'
        .col-sm-6
          - unless @ram_constraint.nil?
            %br
            %h4= 'RAM Constraint'
            ="Minimal RAM in MB: #{@ram_constraint.min_ram}"
            = link_to 'X', constraint_path(@ram_constraint), :method => :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn btn-danger'

%br
%br
- unless @ingredient.children.length == 0
  .ingredient
    %h5{:style => 'text-align: center'}='Ingredients'
    = render :partial => 'ingredient',:collection => @ingredient.children

.actions
  = link_to 'Generate Recommendation', ingredient_trigger_recommendation_path(@ingredient), :method => :put,class: 'btn btn-danger' unless !@ingredient.is_root
  = link_to 'Edit', edit_ingredient_path(@ingredient), class: 'btn btn-warning'
  = link_to 'Destroy', @ingredient, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  = link_to 'Back', ingredients_path, class: 'btn btn-link'
