%h1= @ingredient.name
.row
  .col-lg-6
    -#.description
    = markdown(@ingredient.body)
  - unless @dependency_constraints.length == 0
    .col-lg-6
      - unless @deployment_recommendation.nil?
        .description
          %h5= 'Deployment Recommendation'
          %ul
            %li= "Total cost: #{@deployment_recommendation[:total_cost]}"
            %li= "VM cost: #{@deployment_recommendation[:vm_cost]}"
          ='Instances:'
          %table.table
            %thead
              %tr
                %th Ingredient
                %th Resource
                %th Provider
            %tbody
              - @deployment_recommendation[:recommendation].each do |entry|
                %tr
                  %td= link_to entry[:ingredient].name, ingredients_path(entry[:ingredient])
                  %td= "#{entry[:resource].name}"
                  %td= "#{entry[:resource].provider.name}"

%br
%h3= 'Dependency Constraints'
.description
  %ul
    - @dependency_constraints.each do |constraint|
      %li
        = link_to constraint.source.name, ingredient_path(constraint.source)
        &#8596;
        = link_to constraint.target.name, ingredient_path(constraint.target)
        &nbsp;
        = link_to 'Delete', constraint_path(constraint), :method => :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn btn-danger'

%br
%br
- unless @ingredient.children.length == 0
  %h2='Ingredients'

.ingredient
  = render :partial => 'ingredient',:collection => @ingredient.children

.actions
  = link_to 'Generate Recommendation', ingredient_trigger_recommendation_path(@ingredient), :method => :put,class: 'btn btn-danger'
  = link_to 'Edit', edit_ingredient_path(@ingredient), class: 'btn btn-warning'
  = link_to 'Copy', copy_ingredient_path(@ingredient), class: 'btn btn-success'
  = link_to 'Destroy', @ingredient, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  = link_to 'Back', ingredients_path, class: 'btn btn-link'
