%h1= @ingredient.name
.ingredient
  .description
    = markdown(@ingredient.body)

= unless @ingredient.children.length == 0
  %h1='Ingredients'

= render :partial => 'ingredient',:collection => @ingredient.children

.actions
  = link_to 'Edit', edit_ingredient_path(@ingredient), class: 'btn btn-warning'
  = link_to 'Copy', copy_ingredients_path(@ingredient), class: 'btn btn-success'
  -#= link_to t('.new_application_instance'), new_cloud_application_path(blueprint: @blueprint), class: 'btn btn-success'
  = link_to 'Destroy', @ingredient, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  = link_to 'Back', ingredients_path, class: 'btn btn-link'
