.resource
  .title= resource.name
  %code.price $#{resource.price_per_month}/month
  - if resource.is_compute?
    - cores = resource.ma['cores']
    - if cores == 'shared'
      - cores = 1
      %span.cores shared CPU
    - else
      %span.cores= pluralize cores, 'core'
    %span.mem #{resource.ma['mem_gb']}GB RAM
    %code.cores_per_price $#{(resource.price_per_month / BigDecimal.new(cores)).round(3)}/core
    %code.mem_per_price $#{(resource.price_per_month / BigDecimal.new(resource.ma['mem_gb'])).round(3)}/GB RAM