.resource.row
  .col-sm-2.title= resource.name
  %code.col-sm-2.text-right.price $#{number_with_precision(resource.price_per_month, precision: 3)}/month
  - if resource.is_compute?
    - cores = resource.ma['cores']
    - if cores == 'shared'
      - cores = 1
      %span.cores shared CPU
    - else
      %span.cores= pluralize cores, 'core'
    %span.mem #{resource.ma['mem_gb']}GB RAM
    %code.col-sm-2.text-right.cores_per_price $#{number_with_precision(resource.price_per_month / BigDecimal.new(cores), precision: 3)}/core
    %code.col-sm-2.text-right.mem_per_price $#{number_with_precision(resource.price_per_month / BigDecimal.new(resource.ma['mem_gb']), precision: 3)}/GB RAM