!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport',
      content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %meta{'http-equiv': 'x-ua-compatible', content: 'ie=edge'}
    %title= page_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield(:head)
  %body
    = render 'shared/main_navigation'
    = yield(:page_head)
    .main-container
      - flash.each do |key, value|
        = content_tag :div, value.html_safe, class: "alert #{flash_class(key)}"
      = yield
    = render 'shared/footer'
