!!!
%html
  %head
    %title= content_for(:title) ? yield(:title) : 'The Cloud Stove'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield(:head)
  %body
    .container= yield
    %footer
      %p
    - if defined?(Footnotes) && Footnotes.enabled
      #footnotes_holder